In [1]:
import pandas as pd
import numpy as np

In [7]:
path='GoodBelly-DataSet.xlsx'
df=pd.read_excel(path, sheet_name=1)
df.head()

,Date,Region,Store,Units Sold,Average Retail Price,Sales Rep,Endcap,Demo,Demo1-3,Demo4-5,Natural,Fitness
0,2010-05-04,FL,Biscayne (aka Aventura),150.702088,4.390000,0,0,0,0,0,1,0
1,2010-05-11,FL,Biscayne (aka Aventura),197.403797,3.997692,0,0,0,0,0,1,0
2,2010-05-18,FL,Biscayne (aka Aventura),235.106172,3.809231,0,0,0,0,0,1,0
3,2010-05-25,FL,Biscayne (aka Aventura),226.692427,3.835000,0,0,0,0,0,1,0
4,2010-06-01,FL,Biscayne (aka Aventura),257.688151,3.902500,0,0,0,0,0,1,0

In [8]:
#Q1 - Give summary of numeric type of columns in dataset?

In [9]:
df.describe()

,Units Sold,Average Retail Price,Sales Rep,Endcap,Demo,Demo1-3,Demo4-5,Natural,Fitness
count,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000
mean,253.820718,4.107093,0.549784,0.038240,0.058442,0.156566,0.075758,1.448773,2.476190
std,110.998731,0.463828,0.497695,0.191843,0.234661,0.363522,0.264705,0.975092,1.592789
min,47.559852,2.889286,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189.995471,3.775714,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,236.735266,4.096667,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000
75%,295.804391,4.425067,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,4.000000
max,1041.200256,6.251538,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,5.000000

In [10]:
#Q2 Calc STD of columns in dataset

In [15]:
df.std(numeric_only=True)

Units Sold              110.998731
Average Retail Price      0.463828
Sales Rep                 0.497695
Endcap                    0.191843
Demo                      0.234661
Demo1-3                   0.363522
Demo4-5                   0.264705
Natural                   0.975092
Fitness                   1.592789
dtype: float64

In [16]:
#Q3 mean of first 50 records in dataset

In [17]:
df.head(50).mean(numeric_only=True)

Units Sold              186.280727
Average Retail Price      4.128036
Sales Rep                 0.000000
Endcap                    0.100000
Demo                      0.000000
Demo1-3                   0.000000
Demo4-5                   0.040000
Natural                   1.300000
Fitness                   1.560000
dtype: float64

In [18]:
#Q4 What are thecolumn names

In [21]:
df.columns

Index(['Date', 'Region', 'Store', 'Units Sold', 'Average Retail Price',
       'Sales Rep', 'Endcap', 'Demo', 'Demo1-3', 'Demo4-5', 'Natural',
       'Fitness'],
      dtype='object')

In [22]:
#Q - Number of elements in dataset

In [26]:
df.count()

Date                    1386
Region                  1243
Store                   1386
Units Sold              1386
Average Retail Price    1386
Sales Rep               1386
Endcap                  1386
Demo                    1386
Demo1-3                 1386
Demo4-5                 1386
Natural                 1386
Fitness                 1386
dtype: int64

In [27]:
#Q- No. of records this dataset has

In [29]:
df.shape

(1386, 12)

In [ ]:
#Q type of column dataset has

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1386 entries, 0 to 1385
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  1386 non-null   datetime64[ns]
 1   Region                1243 non-null   object
 2   Store                 1386 non-null   object
 3   Units Sold            1386 non-null   float64
 4   Average Retail Price  1386 non-null   float64
 5   Sales Rep             1386 non-null   int64
 6   Endcap                1386 non-null   int64
 7   Demo                  1386 non-null   int64
 8   Demo1-3               1386 non-null   int64
 9   Demo4-5               1386 non-null   int64
 10  Natural               1386 non-null   int64
 11  Fitness               1386 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(7), object(2)
memory usage: 130.1+ KB