In [5]:
import pandas as pd

In [36]:
d = { 'Mouse'   : [150,200,300,400],
      'Keyboard': [180,200,190,300],
      'Scanner' : [200,280,330,450] }
df = pd.DataFrame(d, index=['Jan', 'Feb', 'March', 'April'])

In [37]:
df

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

A. Write code to access data of Mouse and Scanner columns.

In [38]:
df.iloc[0, 0::2]

Mouse      150
Scanner    200
Name: Jan, dtype: int64

B. Write code to access data of the Keyboard column using dot
notation and column name.

In [39]:
df.Keyboard

Jan      180
Feb      200
March    190
April    300
Name: Keyboard, dtype: int64

C.  Write code to access data of scanners using loc[].

In [40]:
df.loc[:, 'Scanner']

Jan      200
Feb      280
March    330
April    450
Name: Scanner, dtype: int64

D.  Write code to access data of all columns where mouse data is
more than 200.

In [43]:
df.Mouse[df.Mouse > 200]

March    300
April    400
Name: Mouse, dtype: int64

E. Write code to access columns using 0 and 2.

In [49]:
#idk what they want
df.iloc[0:2, :]

     Mouse  Keyboard  Scanner
Jan    150       180      200
Feb    200       200      280

F. Write code to access data of rows of jan and march for scanner
and keyboard

In [56]:
df.iloc[0:3:2, 1:]

       Keyboard  Scanner
Jan         180      200
March       190      330