# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Let us now load the ipython-sql  extension and establish a connection with the database

* Here you will be loading the csv files into the pandas Dataframe and then loading the data into the above mentioned sqlite tables.

* Next you will be connecting to the sqlite database  **FinalDB**.

Refer to the previous lab for hints .

<a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing_SQLite.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

In [1]:
%load_ext sql

In [8]:
import sqlite3
import pandas as pd

In [9]:
con = sqlite3.Connection('FinalDB.db')
cur = con.cursor()

In [18]:
census_data_df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01')

In [19]:
chic_public_schools_df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01')

In [20]:
chic_crime_df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01')

In [21]:
census_data_df.to_sql('CENSUS_DATA', con)
chic_public_schools_df.to_sql('CHICAGO_PUBLIC_SCHOOLS', con)
chic_crime_df.to_sql('CHICAGO_CRIME_DATA', con)

533

In [22]:
%sql sqlite:///FinalDB.db

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [23]:
%%sql
SELECT COUNT(*) FROM CHICAGO_CRIME_DATA

 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [28]:
cur.execute('SELECT * FROM PRAGMA_TABLE_INFO(\'CENSUS_DATA\')')
cur.fetchall()

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'COMMUNITY_AREA_NUMBER', 'REAL', 0, None, 0),
 (2, 'COMMUNITY_AREA_NAME', 'TEXT', 0, None, 0),
 (3, 'PERCENT_OF_HOUSING_CROWDED', 'REAL', 0, None, 0),
 (4, 'PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'REAL', 0, None, 0),
 (5, 'PERCENT_AGED_16__UNEMPLOYED', 'REAL', 0, None, 0),
 (6, 'PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA', 'REAL', 0, None, 0),
 (7, 'PERCENT_AGED_UNDER_18_OR_OVER_64', 'REAL', 0, None, 0),
 (8, 'PER_CAPITA_INCOME', 'INTEGER', 0, None, 0),
 (9, 'HARDSHIP_INDEX', 'REAL', 0, None, 0)]

In [88]:
query = '''
        SELECT COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, PER_CAPITA_INCOME
        FROM CENSUS_DATA
        WHERE PER_CAPITA_INCOME < 11000;
        '''
cur.execute(query)
cur.fetchall()

[(26.0, 'West Garfield Park', 10934),
 (30.0, 'South Lawndale', 10402),
 (37.0, 'Fuller Park', 10432),
 (54.0, 'Riverdale', 8201)]

In [89]:
%%sql
SELECT COMMUNITY_AREA_NAME, PER_CAPITA_INCOME
FROM CENSUS_DATA
WHERE PER_CAPITA_INCOME < 11000;

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [33]:
cur.execute('SELECT * FROM PRAGMA_TABLE_INFO(\'CHICAGO_CRIME_DATA\')')
cur.fetchall()

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'ID', 'INTEGER', 0, None, 0),
 (2, 'CASE_NUMBER', 'TEXT', 0, None, 0),
 (3, 'DATE', 'TEXT', 0, None, 0),
 (4, 'BLOCK', 'TEXT', 0, None, 0),
 (5, 'IUCR', 'TEXT', 0, None, 0),
 (6, 'PRIMARY_TYPE', 'TEXT', 0, None, 0),
 (7, 'DESCRIPTION', 'TEXT', 0, None, 0),
 (8, 'LOCATION_DESCRIPTION', 'TEXT', 0, None, 0),
 (9, 'ARREST', 'INTEGER', 0, None, 0),
 (10, 'DOMESTIC', 'INTEGER', 0, None, 0),
 (11, 'BEAT', 'INTEGER', 0, None, 0),
 (12, 'DISTRICT', 'INTEGER', 0, None, 0),
 (13, 'WARD', 'REAL', 0, None, 0),
 (14, 'COMMUNITY_AREA_NUMBER', 'REAL', 0, None, 0),
 (15, 'FBICODE', 'TEXT', 0, None, 0),
 (16, 'X_COORDINATE', 'REAL', 0, None, 0),
 (17, 'Y_COORDINATE', 'REAL', 0, None, 0),
 (18, 'YEAR', 'INTEGER', 0, None, 0),
 (19, 'LATITUDE', 'REAL', 0, None, 0),
 (20, 'LONGITUDE', 'REAL', 0, None, 0),
 (21, 'LOCATION', 'TEXT', 0, None, 0)]

In [35]:
%%sql
SELECT CASE_NUMBER, PRIMARY_TYPE, DESCRIPTION FROM CHICAGO_CRIME_DATA
WHERE LOWER(PRIMARY_TYPE) LIKE '%child%' OR LOWER(DESCRIPTION) LIKE '%child%';

 * sqlite:///FinalDB.db
Done.

[('HN567387', 'OFFENSE INVOLVING CHILDREN', 'AGG SEX ASSLT OF CHILD FAM MBR'),
 ('HR391350', 'OFFENSE INVOLVING CHILDREN', 'SEX ASSLT OF CHILD BY FAM MBR'),
 ('HM768251', 'OFFENSE INVOLVING CHILDREN', 'CRIM SEX ABUSE BY FAM MEMBER'),
 ('HT394616', 'OFFENSE INVOLVING CHILDREN', 'AGG CRIM SEX ABUSE FAM MEMBER'),
 ('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [38]:
%%sql
SELECT ID, CASE_NUMBER, PRIMARY_TYPE, DESCRIPTION
FROM CHICAGO_CRIME_DATA
WHERE PRIMARY_TYPE == 'KIDNAPPING' AND LOWER(DESCRIPTION) LIKE '%child%'

 * sqlite:///FinalDB.db
Done.

[(5276766, 'HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [41]:
%%sql
SELECT DISTINCT(PRIMARY_TYPE) FROM CHICAGO_CRIME_DATA
WHERE UPPER(LOCATION_DESCRIPTION) LIKE '%SCHOOL%'

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6

##### List the average safety score for each type of school.

In [44]:
cur.execute('SELECT * FROM PRAGMA_TABLE_INFO(\'CHICAGO_PUBLIC_SCHOOLS\')')
cur.fetchall()

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'School_ID', 'INTEGER', 0, None, 0),
 (2, 'NAME_OF_SCHOOL', 'TEXT', 0, None, 0),
 (3, 'Elementary, Middle, or High School', 'TEXT', 0, None, 0),
 (4, 'Street_Address', 'TEXT', 0, None, 0),
 (5, 'City', 'TEXT', 0, None, 0),
 (6, 'State', 'TEXT', 0, None, 0),
 (7, 'ZIP_Code', 'INTEGER', 0, None, 0),
 (8, 'Phone_Number', 'TEXT', 0, None, 0),
 (9, 'Link', 'TEXT', 0, None, 0),
 (10, 'Network_Manager', 'TEXT', 0, None, 0),
 (11, 'Collaborative_Name', 'TEXT', 0, None, 0),
 (12, 'Adequate_Yearly_Progress_Made_', 'TEXT', 0, None, 0),
 (13, 'Track_Schedule', 'TEXT', 0, None, 0),
 (14, 'CPS_Performance_Policy_Status', 'TEXT', 0, None, 0),
 (15, 'CPS_Performance_Policy_Level', 'TEXT', 0, None, 0),
 (16, 'HEALTHY_SCHOOL_CERTIFIED', 'TEXT', 0, None, 0),
 (17, 'Safety_Icon', 'TEXT', 0, None, 0),
 (18, 'SAFETY_SCORE', 'REAL', 0, None, 0),
 (19, 'Family_Involvement_Icon', 'TEXT', 0, None, 0),
 (20, 'Family_Involvement_Score', 'TEXT', 0, None, 0),
 (21, 'Environment_Icon', 'TEXT', 0, None, 0),
 (22, 'Environment_Score', 'REAL', 0, None, 0),
 (23, 'Instruction_Icon', 'TEXT', 0, None, 0),
 (24, 'Instruction_Score', 'REAL', 0, None, 0),
 (25, 'Leaders_Icon', 'TEXT', 0, None, 0),
 (26, 'Leaders_Score', 'TEXT', 0, None, 0),
 (27, 'Teachers_Icon', 'TEXT', 0, None, 0),
 (28, 'Teachers_Score', 'TEXT', 0, None, 0),
 (29, 'Parent_Engagement_Icon', 'TEXT', 0, None, 0),
 (30, 'Parent_Engagement_Score', 'TEXT', 0, None, 0),
 (31, 'Parent_Environment_Icon', 'TEXT', 0, None, 0),
 (32, 'Parent_Environment_Score', 'TEXT', 0, None, 0),
 (33, 'AVERAGE_STUDENT_ATTENDANCE', 'TEXT', 0, None, 0),
 (34, 'Rate_of_Misconducts__per_100_students_', 'REAL', 0, None, 0),
 (35, 'Average_Teacher_Attendance', 'TEXT', 0, None, 0),
 (36, 'Individualized_Education_Program_Compliance_Rate', 'TEXT', 0, None, 0),
 (37, 'Pk_2_Literacy__', 'TEXT', 0, None, 0),
 (38, 'Pk_2_Math__', 'TEXT', 0, None, 0),
 (39, 'Gr3_5_Grade_Level_Math__', 'TEXT', 0, None, 0),
 (40, 'Gr3_5_Grade_Level_Read__', 'TEXT', 0, None, 0),
 (41, 'Gr3_5_Keep_Pace_Read__', 'TEXT', 0, None, 0),
 (42, 'Gr3_5_Keep_Pace_Math__', 'TEXT', 0, None, 0),
 (43, 'Gr6_8_Grade_Level_Math__', 'TEXT', 0, None, 0),
 (44, 'Gr6_8_Grade_Level_Read__', 'TEXT', 0, None, 0),
 (45, 'Gr6_8_Keep_Pace_Math_', 'TEXT', 0, None, 0),
 (46, 'Gr6_8_Keep_Pace_Read__', 'TEXT', 0, None, 0),
 (47, 'Gr_8_Explore_Math__', 'TEXT', 0, None, 0),
 (48, 'Gr_8_Explore_Read__', 'TEXT', 0, None, 0),
 (49, 'ISAT_Exceeding_Math__', 'REAL', 0, None, 0),
 (50, 'ISAT_Exceeding_Reading__', 'REAL', 0, None, 0),
 (51, 'ISAT_Value_Add_Math', 'REAL', 0, None, 0),
 (52, 'ISAT_Value_Add_Read', 'REAL', 0, None, 0),
 (53, 'ISAT_Value_Add_Color_Math', 'TEXT', 0, None, 0),
 (54, 'ISAT_Value_Add_Color_Read', 'TEXT', 0, None, 0),
 (55, 'Students_Taking__Algebra__', 'TEXT', 0, None, 0),
 (56, 'Students_Passing__Algebra__', 'TEXT', 0, None, 0),
 (57, '9th Grade EXPLORE (2009)', 'TEXT', 0, None, 0),
 (58, '9th Grade EXPLORE (2010)', 'TEXT', 0, None, 0),
 (59, '10th Grade PLAN (2009)', 'TEXT', 0, None, 0),
 (60, '10th Grade PLAN (2010)', 'TEXT', 0, None, 0),
 (61, 'Net_Change_EXPLORE_and_PLAN', 'TEXT', 0, None, 0),
 (62, '11th Grade Average ACT (2011)', 'TEXT', 0, None, 0),
 (63, 'Net_Change_PLAN_and_ACT', 'TEXT', 0, None, 0),
 (64, 'College_Eligibility__', 'TEXT', 0, None, 0),
 (65, 'Graduation_Rate__', 'TEXT', 0, None, 0),
 (66, 'College_Enrollment_Rate__', 'TEXT', 0, None, 0),
 (67, 'COLLEGE_ENROLLMENT', 'INTEGER', 0, None, 0),
 (68, 'General_Services_Route', 'INTEGER', 0, None, 0),
 (69, 'Freshman_on_Track_Rate__', 'TEXT', 0, None, 0),
 (70, 'X_COORDINATE', 'REAL', 0, None, 0),
 (71, 'Y_COORDINATE', 'REAL', 0, None, 0),
 (72, 'Latitude', 'REAL', 0, None, 0),
 (73, 'Longitude', 'REAL', 0, None, 0),
 (74, 'COMMUNITY_AREA_NUMBER', 'INTEGER', 0, None, 0),
 (75, 'COMMUNITY_AREA_NAME', 'TEXT', 0, None, 0),
 (76, 'Ward', 'INTEGER', 0, None, 0),
 (77, 'Police_District', 'INTEGER', 0, None, 0),
 (78, 'Location', 'TEXT', 0, None, 0)]

In [90]:
%%sql
SELECT "Elementary, Middle, or High School", AVG(SAFETY_SCORE) AS AVERAGE_SAFETY_SCORE 
FROM CHICAGO_PUBLIC_SCHOOLS
GROUP BY "Elementary, Middle, or High School";

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [91]:
%%sql
SELECT COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY 
FROM CENSUS_DATA
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5;

 * sqlite:///FinalDB.db
Done.

[(54.0, 'Riverdale', 56.5),
 (37.0, 'Fuller Park', 51.2),
 (68.0, 'Englewood', 46.6),
 (29.0, 'North Lawndale', 43.1),
 (27.0, 'East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone?

In [93]:
%%sql
SELECT COMMUNITY_AREA_NUMBER, COUNT(*) AS TOTAL_CRIMES
FROM CHICAGO_CRIME_DATA
WHERE COMMUNITY_AREA_NUMBER IS NOT NULL
GROUP BY COMMUNITY_AREA_NUMBER
ORDER BY TOTAL_CRIMES DESC
LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(25.0, 43)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [68]:
%%sql
SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA
WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [85]:
%%sql

SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA
WHERE COMMUNITY_AREA_NUMBER = (
    SELECT COMMUNITY_AREA_NUMBER FROM (
        SELECT COMMUNITY_AREA_NUMBER, MAX(TOTAL_CRIMES) FROM (
            SELECT COMMUNITY_AREA_NUMBER, COUNT(*) AS TOTAL_CRIMES FROM CHICAGO_CRIME_DATA
            WHERE COMMUNITY_AREA_NUMBER IS NOT NULL
            GROUP BY COMMUNITY_AREA_NUMBER)
    )
);

 * sqlite:///FinalDB.db
Done.

[('Austin',)]

Copyright © 2020 This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>